In [12]:
# Add in dependencies
import pandas as pd
import numpy as np

In [13]:
# Save path to data set 
# Input the BY YEAR MONTH file
full_data = "data/full_hospital_detail.csv"

In [14]:
# Read in data set
full_data = pd.read_csv(full_data)
full_data.head()

  Location       DOS Disposition  Decision to Discharge Time (min)
0        A  1/1/2021    Admitted                              54.0
1        A  1/1/2021    Admitted                              51.0
2        A  1/1/2021    Admitted                              69.0
3        A  1/1/2021   Admit Obs                             112.0
4        A  1/1/2021    Admitted                             122.0

In [15]:
# Convert the NaNs into 0s
full_data.fillna(0, inplace=True)
full_data.head()

  Location       DOS Disposition  Decision to Discharge Time (min)
0        A  1/1/2021    Admitted                              54.0
1        A  1/1/2021    Admitted                              51.0
2        A  1/1/2021    Admitted                              69.0
3        A  1/1/2021   Admit Obs                             112.0
4        A  1/1/2021    Admitted                             122.0

In [24]:
# Droping incomplete data for the decision to dicharge column
full_data.dropna(axis=0, subset=['Decision to Discharge Time (min)'], how='all', inplace=True)
full_data.head()

  Location       DOS Disposition  Decision to Discharge Time (min)
0        A  1/1/2021    Admitted                              54.0
1        A  1/1/2021    Admitted                              51.0
2        A  1/1/2021    Admitted                              69.0
3        A  1/1/2021   Admit Obs                             112.0
4        A  1/1/2021    Admitted                             122.0

In [20]:
full_data.count()

Location                            247681
DOS                                 247681
Disposition                         247681
Decision to Discharge Time (min)    247681
dtype: int64

# Items we don't need
extra code when looking at actual files, can disregard most of this. kept it just in case for thje time being.

In [ ]:
# Add in new column to add boarding totals
#monthly_data["Boarding Pts"] = monthly_data['4-6 Hours'] + monthly_data['6-8 Hours'] + monthly_data['8-10 Hours'] + monthly_data['10-12 Hours'] + monthly_data['12-24 Hours'] + monthly_data['24-36 Hours'] + monthly_data['36-48 Hours'] + monthly_data['> 48 Hours']
#monthly_data.head()

In [ ]:
#monthly_data["% Admits Boarding"] = monthly_data['Boarding Pts'] / monthly_data['Total Admitted Pts'] * 100
m#onthly_data.head()

In [ ]:
#Boarding Table
#boarding = monthly_data
#boarding = boarding[['Year and Month of Service', 'Boarding Pts', '% Admits Boarding']]
#boarding

In [ ]:
# Save path to data set 
#Input the DETAIL file
#data2_file = "Boarding_Cambridge/CambridgeDetail.csv"

In [ ]:
# Read in data set
#full_detail_data = pd.read_csv(data2_file)
#full_detail_data.head()

In [ ]:
# Droping incomplete data for the decision to dicharge column
full_detail_data.dropna(axis=0, subset=['Decision to Discharge Time (min)'], how='all', inplace=True)
full_detail_data.head()

In [ ]:
# Drop 2-4 Hour column as we don't recognize that as boarding
monthly_data.drop(monthly_data.columns[3], axis=1, inplace=True)
monthly_data.drop(monthly_data.columns[1], axis=1, inplace=True)
monthly_data.head()